<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GAME OF LIFE</title>
</head>
<body>
    <div class="heading">
        <h1>GAME OF LIFE</h1>
        <a href="/">GO BACK</a>
    </div>
    <div class="chart-grid">
            <label for="num">Choose a number</label><br>
            <input type="number" name="num" id="num"><br>
            <button type="submit" id="num-send">OK</button>
    </div>
    <div id="mainGraph"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js"></script>
<script src="gameOfLife.js">
    
</script>
</html>