<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GAME#2</title>
</head>
<body>
    <div class="heading">
        <h1>PSYCHOMOTOR SKILLS PRACTICE GAMES</h1>
    </div>
    <div class="game-select">
        <ul>
            <li><a href="/game1">TEST 1</a></li>
            <li><a href="/game2">GAME 2</a></li>
            <li><a href="gameOfLife">GAME OF LIFE</a></li>
        </ul>
    </div>
</body>
</html>